
body {
 width: 900px;
 margin: 0 auto;
 font-family: Arial, Helvetica, sans-serif;
}
header, footer {  
   background-color: #8CAFE6;
   text-align: center;
 }

 .menu-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style-type: none;
   color: white;
   padding: 10px;
 }

 .page-name {
   font-size: 24px;
 }

 .page-name span {
   font-size: 16px;
 }

 .student-name {
   font-size: 13px
 }

 .line {
   background-color: white;
   width: 1px;
   height: 32px;
 }

 .search input, .search button {
   padding: 6px;
   border: 1px solid #8CAFE6;
   color: #8CAFE6;
 }

 .search button {
   cursor: pointer;
 }
 
 .search button:hover {
   background-color: #e2edff;
   color: black;
 }


 footer {
   font-size: 12px; 
   padding: 10px;
 }

 .dummies-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 24px;
   margin: 16px 32px;
   padding: 0;
 }

 .dummies-container .dummie {
   background-color: #F5F5F5;
   padding: 16px;
   font-size: 10px;
   text-align: center;
   color: #8CAFE6;
   list-style-type: none;
   box-shadow: 2px 2px 0px rgba(154, 154, 154, 0.8);
   transition: 0.5s ease-in-out;
  }

 .dummies-container .dummie img {
   margin-bottom: 8px;
 }

 .dummie:hover {
  background-color: #99c5dd;
  rotate:5deg;
  scale: 1.1;
 }

/*Estilos Perfil*/
 .container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap:6px;
  font-size:14px;
}

.perfil-img {
  border-radius: 50px 0 0 0;
}

.nombre {
  color: orange;
  font-size: 32px;
}

.perfil-info {
  width: 500px;
  border: 1px solid black;
  padding: 8px;
  box-shadow: 5px 5px 0px rgba(41, 41, 41, 0.8);
}

.description {
  font-style: italic;
  font-size : 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.table td {
  padding-right: 16px;
}

.mail {
  color:orange
}

.mail:hover, .mail:focus, .mail:visited {
  color:red;
}